<section class="d-flex justify-content-center align-items-center">

  <div class="d-flex flex-column justify-content-center align-items-center bg-dark text-center" id="aboutme">


    <!--    <div class="">-->
    <!--      <img alt="" class="p-4" src="./assets/head.png">-->
    <!--    </div>-->


    <h1> Profile
    </h1>
    <div class="divider-line mb-4"></div>

    <p>Hey, I'm Tim Le Large, 24 years old, and I'm currently finishing my bachelor in computer science at
      "Hochschule Mannheim".
    </p>
    <p>
      While studying, I've become interested in the area of artificial intelligence, which I spend most of my time
      with.
      Besides this passion, I've also created multiple other projects, which you can find in the
      following.
    </p>
    <p>
      Take your time and have a look. For further questions, feel free to contact me.
    </p>


  </div>


</section>
