#aboutme {
  border-radius: 3rem;


  img {
    width: 20vw;
  }

  width: fit-content;
  height: fit-content;

}


@media screen and (max-width: 800px) {
  #aboutme {
    padding: 5%;
    margin: 5%;
  }
}

@media screen and (min-width: 800px) {
  #aboutme {
    padding: 5%;
    margin: 5%;
  }
}
