<section class="d-flex w-100 h-100 " id="profile">
  <div class="d-flex align-items-center justify-content-center w-100 h-100">
    <div class="d-flex align-items-center" id="brain">


      <!--      <app-nn></app-nn>-->


      <!--      <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-light  m-3"-->
      <!--              data-bs-target="#collapseExample"-->
      <!--              data-bs-toggle="collapse" id="toggler" type="button">-->
      <!--        <fa-icon [icon]="faAngleRight" id="expand"></fa-icon>-->
      <!--        <fa-icon [icon]="faAngleLeft" id="collapse"></fa-icon>-->
      <!--      </button>-->
    </div>
    <!--    <div class="collapse collapse-horizontal" id="collapseExample">-->

    <!--      <div class="card card-body bg-dark p-5 text-center">-->
    <!--        <h1> About me-->
    <!--          <div class="divider-line"></div>-->
    <!--        </h1>-->

    <!--        <p>Hey, I'm Tim Le Large, 24 years old, and I'm currently finishing my bachelor in computer science at the-->
    <!--          "Hochschule Mannheim". Right now, I'm spending a lot of time exploring the area of artificial intelligence-->
    <!--          while creating learn-algorithms or building neuronal networks.-->
    <!--        </p>-->
    <!--        <p>-->
    <!--          Besides this passion, I've also created other projects like building games in Unity, hosting my own web-->
    <!--          services, or creating websites like "lelar.ge" to present my achievements.-->
    <!--        </p>-->
    <!--        <p>-->
    <!--          Take your time and have a look at a variety of my projects. For further questions, feel free to contact me.-->
    <!--        </p>-->

    <!--      </div>-->


    <!--    </div>-->

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front bg-white">
          <app-nn></app-nn>
        </div>
        <div class="flip-card-back bg-dark text-white p-5">
          <h1> About me
            <div class="divider-line"></div>
          </h1>

          <p>Hey, I'm Tim Le Large, 24 years old, and I'm currently finishing my bachelor in computer science at the
            "Hochschule Mannheim". Right now, I'm spending a lot of time exploring the area of artificial intelligence
            while creating learn-algorithms or building neuronal networks.
          </p>
          <p>
            Besides this passion, I've also created other projects like building games in Unity, hosting my own web
            services, or creating websites like "lelar.ge" to present my achievements.
          </p>
          <p>
            Take your time and have a look at a variety of my projects. For further questions, feel free to contact me.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
