
h1 {
  margin-top: 5%;
}

#expand {
  font-size: 600%;
}

#collapse {
  font-size: 600%;
}


.card > p {
  // word-wrap: normal;

  white-space: break-spaces;
  // overflow-wrap: normal;
}

.card {
  max-width: 50vw;
  overflow: hidden;
  width: fit-content;
  border-radius: 3rem;
}


#toggler[aria-expanded="true"] #expand {
  display: none;
}

#toggler[aria-expanded="false"] #collapse {
  display: none;
}

#toggler {
  background-color: rgb(255, 255, 255, 0.6);
  height: 350px;
  border-radius: 3rem;
}
