<section class="d-flex w-100 h-100 ">
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="d-flex   align-items-center">


            <div class=" mb-2  color-black w-100 h-100 " id="network">

            </div>




            <button id="toggler" class="btn btn-light  m-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <fa-icon id="expand" [icon]="faAngleRight"></fa-icon>
                <fa-icon id="collapse" [icon]="faAngleLeft"></fa-icon>
            </button>
        </div>
        <div class="collapse collapse-horizontal" id="collapseExample">

            <div class="card card-body bg-dark p-5 text-center">
                <h1> About me
                    <div class="divider-line"></div>
                </h1>

                <p>...</p>

            </div>


        </div>


    </div>
</section>