<nav class="navbar  navbar-expand-lg fixed-top bg-dark" id="navigation">
  <div class="container-fluid d-flex justify-content-between">

    <div class="d-flex navbar-brand justify-content-center align-items-center" href="#profile" id="title">
      <img alt="nn" id="nn" src="./assets/nn.png">
      <h2 class="text-white">

        Tim Le Large
      </h2>
    </div>

    <button aria-controls="sections" aria-expanded="false" aria-label="Toggle navigation" class=" navbar-toggler btn  "
            data-bs-target="#sections" data-bs-toggle="collapse" id="nav-toggler" type="button">

      <h2>
        <fa-icon [icon]="faBars" class="navbar-toggler-icon text-white"></fa-icon>
      </h2>
    </button>
    <div class="collapse navbar-collapse  flex-d justify-content-end " id="sections">


      <ul class="navbar-nav  mb-2 mb-lg-0  " id="section-list">
        <li class="nav-item btn active" data-menuanchor="profile">
          <a class="nav-link" href="#profile">
            <h3>Profile</h3>
          </a>
        </li>

        <li class="nav-item btn btn-white" data-menuanchor="projects">
          <a class="nav-link" href="#projects">
            <h3>Projects</h3>
          </a>
        </li>
        <li class="nav-item btn btn-white" data-menuanchor="contact">
          <a class="nav-link" href="#contact">
            <h3>Contact</h3>
          </a>
        </li>
      </ul>


    </div>
  </div>


</nav>
