<section class="d-flex flex-column justify-content-center align-items-center">


  <div class="d-flex flex-column justify-content-end align-items-center" id="card">


    <app-nn class="bg-white" id="nn"></app-nn>
    <h1 class="bg-dark p-2"> Tim Le Large </h1>


  </div>
  <form action="https://www.duckduckgo.com/" id="duckduckgo" method="get">

    <h3><input autocomplete="off" autofocus class="duckduckgo-input" name="q" placeholder="  private search..."
               type="text"/></h3>
  </form>


</section>



