<section class="d-flex w-100 h-100 ">
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="d-flex flex-column align-items-center text-white text-center ">






            <div class=" mb-2  color-black " id="network">

            </div>
            <form action="https://www.duckduckgo.com/" method="get">

                <input class="duckduckgo-input" autocomplete="off" autofocus type="text" name="q"
                    placeholder="  private search..." />
            </form>
        </div>



    </div>
</section>