#grid-item {
  cursor: pointer;
  position: relative;

  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  #grid-container {
    width: 15vw;
    aspect-ratio: 2/1;
  }

  #grid-icon {
    font-size: 300%;
    color: white;
  }

  #grid-title {
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    color: black;

    font-size: 1rem;

    &:hover {
      border: 3px black solid;
      opacity: 1;
    }
  }

  .card-underline {
    width: 100%;
    height: 0.2rem;
    background-color: black;
    border-radius: 1rem;
    border-color: white;


  }
}
