@import url("https://fonts.googleapis.com/css?family=ABeeZee");
@import url(~fullpage.js/dist/fullpage.min.css);


.divider-line {
  width: 120%;
  height: 0.4rem;
  background-color: white;
  border-radius: 1rem;
  border-color: white;
  margin-top: 3%;
  margin-left: -10%;
}


app-root {
  font-family: ABeeZee, serif;

  color: white;

  #fullpage {
    h1 {
      margin-bottom: 3%;
      // text-decoration: underline;
    }
  }

  h2 {
    color: white;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: white;
}


#navigation {

  #nn {
    height: auto;
    width: 10%;

  }


  #section-list {
    li {

      &.active {
        border-bottom: solid 3px white;
      }
    }
  }
}

